<section class="banner-container">
  <div class="banner">
    <h4 class="h4 h4-md neu-900">加入會員取得 9 折優惠</h4>
    <a href="./login_signup.html"><button class="btn btn-md banner-btn l-md text-white" type="button">馬上註冊</button>
  </div></a>
</section>
