/* 元件 */
.card-img{
  cursor: pointer;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Noto Sans TC", sans-serif;
}

.banner-btn {
  color: var(--neutral-0);
  background-color: var(--neutral-900);
  border: none;
}

.banner-btn:hover{
  background-color: var(--neutral-700);
}

.banner-btn:focus{
  box-shadow: 0 0 0 3px rgba($color: #212529, $alpha: 0.1);
}

.black-btn{
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

@media (max-width: 776px) {
  .btn-md{
    padding: 8px 16px;
  }
  
}